<div class="course-details-desc" *ngIf="beneficiaire"> 
    <div class="d-flex align-items-center justify-content-space-between">
        <div class="d-flex align-items-center justify-content-start">
            Statut:
            <span class="badge fw-medium d-block position-relative" style="color: rgb(61, 160, 15); font-size: medium;" *ngIf="beneficiaire.statut == 'En cours'">En cours</span>
            <span class="badge pending fw-medium d-block position-relative"  style="color: red; font-size: medium;" *ngIf="beneficiaire.statut == 'Interrompu'">Interrompu</span>
            <span class="badge completed fw-medium d-block position-relative" style="color: blue; font-size: medium;" *ngIf="beneficiaire.statut == 'Terminé'">Terminé</span>  
            <span class="badge completed fw-medium d-block position-relative" style="color: orange; font-size: medium;" *ngIf="beneficiaire.statut == 'En attente'">En attente</span> 
            <button mat-icon-button color="primary"  
                (click)="openEditStatutDialog('300ms', '100ms', beneficiaire.id)"
                *ngIf="currentUser.permission === 'RU' ||
                    currentUser.permission === 'RCU' || 
                    currentUser.permission === 'RUD' || 
                    currentUser.permission === 'CRUD'" matTooltip="Chabger le statut">
                    <mat-icon>edit</mat-icon>
             </button>
        </div>
         <div *ngIf="beneficiaire.statut === 'En attente'|| beneficiaire.statut === 'En cours'">
            <div *ngIf="currentUser"> 
                <button mat-icon-button color="warn" 
                        (click)="delete(beneficiaire.id)"
                    *ngIf="currentUser.permission === 'RD' ||
                        currentUser.permission === 'RUD' ||
                        currentUser.permission === 'CRUD'" matTooltip="Supprimer ce beneficiaire">
                        <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent"  
                    (click)="edit(beneficiaire.id)"
                    *ngIf="currentUser.permission === 'RU' ||
                        currentUser.permission === 'RCU' || 
                        currentUser.permission === 'RUD' || 
                        currentUser.permission === 'CRUD'" matTooltip="Modifier les infos du beneficiaire">
                        <mat-icon>edit</mat-icon>
                </button>  
            </div>
        </div>
    </div> 
    
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Identité
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="mb-0 mt-0 ps-0 content-list">
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">FullName:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.name_beneficiaire }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Sexe:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.sexe }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date de naissance:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.date_naissance | date: 'dd/MM/yyyy' }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Province:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.province }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Identifiant:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.identifiant }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Email:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.email }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Telephone:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.telephone }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Raison sociale:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.raison_sociale }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Secteur d'activité:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.secteur_activite.name_secteur }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Numero impôt:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.numero_impot }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Id nat.:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.id_nat }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">RCCM:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.rccm }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Adresse:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.adresse }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between"></li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date de création:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.created | date: 'dd/MM/yyyy' }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date de mis à jour:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.update_created | date: 'dd/MM/yyyy' }}</span>
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Finances
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="mb-0 mt-0 ps-0 content-list">
                <li class="d-flex align-items-center justify-content-space-between" *ngIf="beneficiaire.cohorte">
                    <span class="d-block gray-color fw-medium">Cohorte:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.cohorte.name_cohorte }} </span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between" *ngIf="beneficiaire.banque">
                    <span class="d-block gray-color fw-medium">Banque:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.banque.name_banque }} </span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Montant garantie:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.montant_garantie | numberFormat:'fr-FR' }} usd</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Credit accordé:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.credit_accorde | numberFormat:'fr-FR' }} usd</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Interêt:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.interet_beneficiaire | numberFormat:'fr-FR' }} usd</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Montant à rembourser:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.montant_a_debourser | numberFormat:'fr-FR' }} usd</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Montant remboursé:</span>
                    <span class="d-block gray-color fw-medium">
                        <app-montant-rembourser [item]="beneficiaire"></app-montant-rembourser>
                    </span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Reste à rembourser:</span>
                    <span class="d-block gray-color fw-medium">
                        <app-reste-a-rembourser-view [item]="beneficiaire"></app-reste-a-rembourser-view>
                    </span>
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Planification
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="mb-0 mt-0 ps-0 content-list">
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date de soumission:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.date_soumission | date: 'dd/MM/yyyy' }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date valeur:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.date_valeur | date: 'dd/MM/yyyy' }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Durée de credit:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.duree_credit }} mois</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Delai de grâce:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.delai_de_grace }} mois</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Total delai de réajustement:</span>
                    <span class="d-block gray-color fw-medium">{{ delai_de_reajustement }} mois</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium">Date maturité:</span>
                    <span class="d-block gray-color fw-medium">{{ beneficiaire.date_maturite | date: 'dd/MM/yyyy' }}</span>
                </li>
                <li class="d-flex align-items-center justify-content-space-between">
                    <span class="d-block gray-color fw-medium" *ngIf="delai_de_reajustement > 0">Date maturité après réajustement:</span>
                    <span class="d-block gray-color fw-medium" *ngIf="delai_de_reajustement > 0">{{ date_maturite_reajustement | date: 'dd/MM/yyyy' }}</span>
                </li> 
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>