
<mat-card class="create-project-card tagus-card mb-25" *ngIf="beneficiare">
    <mat-card-header>
        <h4 class="mb-0">Interface de {{ beneficiare.name_beneficiaire }} </h4>
    </mat-card-header>
    <mat-card-content>
        <mat-stepper #stepper class="tagus-wizard mb-25">
            <mat-step>
                <ng-template matStepLabel>Identité</ng-template>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <div class="row"> 
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Nom du beneficiaire </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le nom du beneficiaire</mat-label>
                                <input matInput type="text" id="name_beneficiaire" formControlName="name_beneficiaire" required>
                                <mat-error *ngIf="formGroup.controls['name_beneficiaire'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Sexe </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-group-line"></i>
                                <mat-label>Select sexe</mat-label>
                                <mat-select formControlName="sexe">
                                    <mat-option *ngFor="let sexe of sexeList" [value]="sexe">{{sexe}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formGroup.controls['sexe'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Date de naissance </label>
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput [matDatepicker]="pickerNaissance" id="date_naissance" 
                                            formControlName="date_naissance" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerNaissance"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerNaissance></mat-datepicker> 
                                    <mat-error *ngIf="formGroup.controls['date_naissance'].hasError('required')">
                                        Ce champs est obligatoire
                                    </mat-error>
                                </mat-form-field> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Province</label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Select province</mat-label>
                                    <i class="ri-list-check"></i>
                                    <mat-select formControlName="province">
                                        <mat-option  *ngFor="let province of provinceList" [value]="province">{{province}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formGroup.controls['province'].hasError('required')">
                                        Ce champs est obligatoire
                                    </mat-error>
                                </mat-form-field>
                            </div> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Identifiant </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Identifiant du beneficiaire </mat-label>
                                <input matInput type="text" readonly="true" formControlName="identifiant" name="identifiant">
                                <mat-error *ngIf="formGroup.controls['identifiant'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Email </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer l'adresse email</mat-label>
                                <input matInput type="email" formControlName="email" name="email">
                                <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Telephone </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Telephone</mat-label>
                                <input matInput type="tel" formControlName="telephone" name="telephone">
                                <mat-error *ngIf="formGroup.controls['telephone'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Raison sociale </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer l'Entreprise</mat-label>
                                <input matInput type="tel" formControlName="raison_sociale" name="raison_sociale">
                                <mat-error *ngIf="formGroup.controls['raison_sociale'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-9">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Secteur activité</label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Select Secteur activité</mat-label>
                                    <i class="ri-list-check"></i>
                                    <mat-select [compareWith]="compareSecteurFn" formControlName="secteur_activite">
                                        <mat-option *ngFor="let secteur of secteurList" [value]="secteur">{{secteur.name_secteur}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Numero impôt </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Numero impôt</mat-label>
                                <input matInput type="tel" formControlName="numero_impot" name="numero_impot">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">ID nat. </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Identifiant national</mat-label>
                                <input matInput type="tel" formControlName="id_nat" name="id_nat"> 
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">RCCM </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le RCCM</mat-label>
                                <input matInput type="tel" formControlName="rccm" name="rccm"> 
                            </mat-form-field>
                        </div> 
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="d-block mb-12 fw-semibold gray-color">Adresse </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-information-line"></i>
                                <mat-label>Adresse...</mat-label>
                                <textarea matInput rows="2" formControlName="adresse"></textarea> 
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="d-flex justify-content-cEntrer" *ngIf="isLoading">
                        <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
                    </div>
                    <div class="mt-5" *ngIf="!isLoading">
                        <button mat-flat-button matStepperNext class="tagus" [disabled]="!formGroup.valid">Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Finances</ng-template>
                <form class="mb-25" [formGroup]="formGroup2" (ngSubmit)="onSubmit2()">
                    <div class="row"> 
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Banque </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-group-line"></i>
                                <mat-label>Select banque</mat-label>
                                <mat-select [compareWith]="compareFn" formControlName="banque">
                                    <mat-option *ngFor="let banque of banqueList" [value]="banque">{{banque.name_banque}}</mat-option>
                                </mat-select> 
                            </mat-form-field>
                        </div> 
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Compte bancaire </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le compte bancaire</mat-label>
                                <input matInput type="text" formControlName="compte_bancaire" name="compte_bancaire">
                                <mat-error *ngIf="formGroup2.controls['compte_bancaire'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Montant garantie </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Montant garantie</mat-label>
                                <input matInput type="number" formControlName="montant_garantie" name="montant_garantie">
                                <mat-error *ngIf="formGroup2.controls['montant_garantie'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Credit accordé </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Montant Credit accordé</mat-label>
                                <input matInput type="number" formControlName="credit_accorde" name="credit_accorde">
                                <mat-error *ngIf="formGroup2.controls['credit_accorde'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Interet </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer l'interet</mat-label>
                                <input matInput type="number" formControlName="interet" name="interet">
                                <mat-error *ngIf="formGroup2.controls['interet'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Montant à rembourser </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer le Montantà rembourser</mat-label>
                                <input matInput type="number" formControlName="montant_a_debourser" name="montant_a_debourser">
                                <mat-error *ngIf="formGroup2.controls['montant_a_debourser'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Date valeur dû </label>
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput [matDatepicker]="pickerDateValeur" id="date_valeur" 
                                            formControlName="date_valeur" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerDateValeur"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateValeur></mat-datepicker> 
                                    <mat-error *ngIf="formGroup2.controls['date_valeur'].hasError('required')">
                                        Ce champs est obligatoire
                                    </mat-error>
                                </mat-form-field> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Durée crédit </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Entrer la durée de crédit en mois</mat-label>
                                <input matInput type="number" formControlName="duree_credit" name="duree_credit">
                                <mat-error *ngIf="formGroup2.controls['duree_credit'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Date de maturité </label>
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput [matDatepicker]="pickerDateMaturite" id="date_maturite" 
                                            formControlName="date_maturite" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerDateMaturite"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateMaturite></mat-datepicker> 
                                    <mat-error *ngIf="formGroup2.controls['date_maturite'].hasError('required')">
                                        Ce champs est obligatoire
                                    </mat-error>
                                </mat-form-field> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Delai de grâce </label>
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput [matDatepicker]="pickerDelaiGrace" id="delai_de_grace" 
                                            formControlName="delai_de_grace" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerDelaiGrace"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDelaiGrace></mat-datepicker>  
                                </mat-form-field> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <label class="d-block mb-12 fw-semibold gray-color">Delai de réajustement </label>
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput [matDatepicker]="pickerDelaiReajustement" id="delai_de_reajustement" 
                                            formControlName="delai_de_reajustement" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerDelaiReajustement"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDelaiReajustement></mat-datepicker>
                                </mat-form-field> 
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" *ngIf="isLoading">
                        <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
                    </div>
                    <div class="mt-5" *ngIf="!isLoading">
                        <button mat-flat-button matStepperPrevious class="gray me-15">Retour</button>
                        <button mat-flat-button matStepperNext class="tagus">Suivant</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Plan de rembousement</ng-template>
                <div class="recent-files-table table-responsive mb-25">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="fw-semibold gray-color">Echéance</th>
                                <th class="fw-semibold main-color">Date de remboursement </th>
                                <th class="fw-semibold gray-color">Credit en debut periode</th>
                                <th class="fw-semibold gray-color">Capital</th> 
                                <th class="fw-semibold gray-color">Interet</th> 
                                <th class="fw-semibold gray-color">Mensualité</th>
                                <th class="fw-semibold gray-color">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let remboursement of planRemboursementList; let i = index"> 
                                <td class="gray-color">{{ i+1 }}</td>
                                <td class="gray-color">{{ remboursement.date_de_rembousement | date: 'EEEE le dd/MM/yyyy' }}</td>
                                <td class="gray-color">{{ remboursement.credit_en_debut_periode | numberFormat:'fr-FR' }} usd</td>
                                <td class="gray-color">{{ remboursement.capital | numberFormat:'fr-FR' }} usd</td>
                                <td class="gray-color">{{ remboursement.interet | numberFormat:'fr-FR' }} usd</td>
                                <td class="gray-color">{{ +remboursement.interet + +remboursement.capital | numberFormat:'fr-FR' }} usd</td>
                                <td>
                                    <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="actionMenu">
                                        <i class="ri-more-fill"></i>
                                    </button>
                                    <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                                        <button mat-menu-item type="button" class="bg-transparent border-none position-relative"
                                        (click)="openEditDialog('300ms', '100ms', remboursement.id)">
                                            <i class="ri-edit-line"></i> Modifier
                                        </button>
                                        <button mat-menu-item type="button" class="bg-transparent border-none position-relative"
                                         (click)="deleteItem(remboursement.id)">
                                            <i class="ri-close-circle-line"></i> Retirer
                                        </button> 
                                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 

                <form [formGroup]="formGroup3" (ngSubmit)="onSubmit3()">
                    <div class="row mb-25"> 
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="tagus-form-group">
                                <!-- <label class="d-block mb-12 fw-semibold gray-color">Date de rembousement </label> -->
                                <mat-form-field appearance="fill" class="date-input">
                                    <mat-label>Rembousement</mat-label>
                                    <input matInput [matDatepicker]="pickerDateRembousement" id="date_de_rembousement" 
                                            formControlName="date_de_rembousement" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerDateRembousement"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateRembousement></mat-datepicker> 
                                    <mat-error *ngIf="formGroup3.controls['date_de_rembousement'].hasError('required')">
                                        Ce champs est obligatoire
                                    </mat-error>
                                </mat-form-field> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!-- <label class="d-block mb-12 fw-semibold gray-color">Crédit en debut periode </label> -->
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Crédit debut periode</mat-label>
                                <input matInput type="number" formControlName="credit_en_debut_periode" name="credit_en_debut_periode">
                                <mat-error *ngIf="formGroup3.controls['credit_en_debut_periode'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-lg-2 col-md-6 col-sm-6">
                            <label class="d-block mb-12 fw-semibold gray-color">Mensualite </label>
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Mensualité</mat-label>
                                <input matInput type="number" formControlName="mensualite" name="mensualite">
                                <mat-error *ngIf="formGroup3.controls['mensualite'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div> -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <!-- <label class="d-block mb-12 fw-semibold gray-color">Capital </label> -->
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Capital</mat-label>
                                <input matInput type="number" formControlName="capital" name="capital">
                                <mat-error *ngIf="formGroup3.controls['capital'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <!-- <label class="d-block mb-12 fw-semibold gray-color">Interêt </label> -->
                            <mat-form-field appearance="fill">
                                <i class="ri-edit-2-line"></i>
                                <mat-label>Interêt'</mat-label>
                                <input matInput type="number" formControlName="interet" name="interet">
                                <mat-error *ngIf="formGroup3.controls['interet'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="d-flex justify-content-center" *ngIf="isLoadingPlanRemboursement">
                                <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
                            </div> 
                            <div class="" *ngIf="!isLoadingPlanRemboursement">
                                <button mat-flat-button class="success">
                                    Ajouter
                                </button> 
                            </div>
                        </div>
                        
                    </div>
                </form> 
                <div class="mt-5">
                    <button mat-flat-button matStepperPrevious class="gray me-15">Retour</button>
                    <button mat-flat-button matStepperNext class="tagus" (click)="terminer(beneficiare.id)">Terminer</button> 
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
</mat-card>