


<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()">
    <mat-card-header> 
    </mat-card-header>
    <mat-card-content>
        <div class="tagus-form-group">
            <mat-form-field appearance="fill">
                <i class="ri-search-line"></i>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8 tagus-mat-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <ng-container matColumnDef="name_cohorte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>name_cohorte</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.name_cohorte  }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name_beneficiaire">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Beneficiaire</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/layouts/beneficiaires', element.id, 'beneficiaire-view']">
                            {{element.name_beneficiaire.toUpperCase()}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sexe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>sexe</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.sexe }}
                    </td>
                </ng-container> 

                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef>province</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.province }}
                    </td>
                </ng-container> 

                <ng-container matColumnDef="identifiant">
                    <th mat-header-cell *matHeaderCellDef>identifiant</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.identifiant }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>email</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.email }}
                    </td>
                </ng-container>  

                <ng-container matColumnDef="telephone">
                    <th mat-header-cell *matHeaderCellDef>telephone</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.telephone }}
                    </td>
                </ng-container>  

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons></mat-paginator> 
        </div>
    </mat-card-content>
</mat-card>















<!--  
<div class="tagus-form-group">
    <mat-form-field appearance="fill">
        <i class="ri-search-line"></i>
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)]="searchText" #input>
    </mat-form-field>
</div>
<div class="recent-files-table table-responsive mb-25">
    <table class="table">
        <thead>
            <tr> 
                <th class="fw-semibold main-color">Cohorte </th> 
                <th class="fw-semibold gray-color">Beneficiaire</th> 
                <th class="fw-semibold gray-color">Sexe</th> 
                <th class="fw-semibold gray-color">Province</th> 
                <th class="fw-semibold gray-color">Identifiant</th>
                <th class="fw-semibold gray-color">Email</th>
                <th class="fw-semibold gray-color">Téléphone</th>
            </tr>
        </thead>
        <tbody *ngIf="(ELEMENT_DATA | filter: searchText).length > 0; else noResults">
            <tr *ngFor="let element of ELEMENT_DATA | filter: searchText; index as i"> 
                <td class="gray-color">
                    <a [routerLink]="['/layouts/beneficiaires', element.id, 'beneficiaire-view']">
                        {{element.name_cohorte }} 
                    </a>
                </td>  
                <td class="gray-color">
                    <a [routerLink]="['/layouts/beneficiaires', element.id, 'beneficiaire-view']">
                        {{element.name_beneficiaire.toUpperCase()}}
                    </a>
                </td>
                <td class="gray-color">
                    {{element.sexe }} 
                </td>
                <td class="gray-color">
                    {{element.province }} 
                </td>
                <td class="gray-color">
                    {{element.identifiant }} 
                </td> 
                <td class="gray-color">
                    {{element.email }} 
                </td> 
                <td class="gray-color">
                    {{element.telephone }} 
                </td> 
            </tr>
        </tbody>
    </table>
    <ng-template #noResults>
        <p *ngIf="searchText">Aucun resultat "{{searchText}}".</p>
    </ng-template>
</div>     

 -->
