<mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Infos personnel</h5>  
    </mat-card-header>
    <mat-card-content>
        <owl-carousel-o [options]="imageSlides2">
            <ng-template carouselSlide>
                <ul class="list ps-0 mb-0">
                    <li>
                        <span class="fw-semibold">Nom: </span>
                        <span class="gray-color">{{ currentUser.nom }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Postnom: </span>
                        <span class="gray-color">{{ currentUser.postnom }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Prenom: </span>
                        <span class="gray-color">{{ currentUser.prenom }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Sexe: </span>
                        <span class="gray-color">{{ currentUser.sexe }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Adresse:</span>
                        <span class="gray-color">{{ currentUser.adresse }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Email: </span>
                        <span class="gray-color">{{ currentUser.email }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Telephone: </span>
                        <span class="gray-color">{{ currentUser.telephone }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Identifiant: </span>
                        <span class="gray-color">{{ currentUser.matricule }}</span>
                    </li>
                </ul>
            </ng-template>
            <ng-template carouselSlide>
                <ul class="list ps-0 mb-0">
                    <li>
                        <span class="fw-semibold">Statut du personnel: </span>
                        <span class="gray-color" *ngIf="currentUser.statut_user"> Actif</span>
                            <span class="gray-color" *ngIf="!currentUser.statut_user"> Inactif</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Vous avez accès à: </span>
                        <div *ngFor="let role of currentUser.roles; index as i">
                            <span class="gray-color">{{ i + 1 }}. {{ role }}</span>
                        </div> 
                    </li> 
                    <li>
                        <span class="fw-semibold">Permission: </span> 
                            <span class="gray-color"> {{ currentUser.permission }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Signature: </span>
                        <span class="gray-color">{{ currentUser.signature }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Créé le: </span>
                        <span class="gray-color">{{ currentUser.created | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                    </li>
                    <li>
                        <span class="fw-semibold">Mis à jour le: </span>
                        <span class="gray-color">{{ currentUser.update_created | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                    </li>
                </ul>
            </ng-template>
        </owl-carousel-o> 
    </mat-card-content>
</mat-card>