<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()">
    <mat-card-header>
        <h4 class="mb-0">Liste des bénéficiares</h4> 
        <div> </div>
    </mat-card-header>
    <mat-card-content>
        <div class="tagus-form-group">
            <mat-form-field appearance="fill">
                <i class="ri-search-line"></i>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8 tagus-mat-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <ng-container matColumnDef="name_beneficiaire">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Beneficiaire</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/layouts/beneficiaires', element.id, 'beneficiaire-view']">
                            {{element.name_beneficiaire.toUpperCase()}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="banque">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banque</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/layouts/banques', element.banque.id, 'banque-view']">
                            {{element.banque.name_banque }} 
                        </a>
                    </td>
                </ng-container> 
                
                <ng-container matColumnDef="garantie">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Garantie</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.identifiant}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="credit_accorde">
                    <th mat-header-cell *matHeaderCellDef>Credit accordé</th>
                    <td mat-cell *matCellDef="let element">{{element.credit_accorde}}</td>
                </ng-container>

                <ng-container matColumnDef="interet">
                    <th mat-header-cell *matHeaderCellDef>Interêt</th>
                    <td mat-cell *matCellDef="let element">{{element.interet}}</td>
                </ng-container>

                <ng-container matColumnDef="montant_a_rembourser">
                    <th mat-header-cell *matHeaderCellDef>Montant àrembourser</th>
                    <td mat-cell *matCellDef="let element">{{element.montant_rembourser}}</td>
                </ng-container> 

                <ng-container matColumnDef="montant_rembourser">
                    <th mat-header-cell *matHeaderCellDef>Montant rembourser</th>
                    <td mat-cell *matCellDef="let element">{{element.montant_rembourser}}</td>
                </ng-container> 

                <ng-container matColumnDef="reste_a_rembourser">
                    <th mat-header-cell *matHeaderCellDef>Reste à rembourser</th>
                    <td mat-cell *matCellDef="let element">{{element.montant_rembourser}}</td>
                </ng-container> 

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
