
<div class="reports-table table-responsive mb-25" *ngIf="beneficiaire">
    <table class="table">
        <thead>
            <tr>
                <th class="fw-semibold gray-color">N°</th>
                <th class="fw-semibold main-color">Date remboursement </th>
                <th class="fw-semibold gray-color">Debut periode</th>
                <th class="fw-semibold gray-color">Capital</th> 
                <th class="fw-semibold gray-color">Interet</th> 
                <th class="fw-semibold gray-color">Mensualité</th>
                <th class="fw-semibold gray-color">Date paie</th>
                <th class="fw-semibold gray-color">Montant payé</th>
                <th class="fw-semibold gray-color">Indice</th>
                <th class="fw-semibold gray-color">Bordereau</th>
                <th class="fw-semibold gray-color">Observation</th>
                <th class="fw-semibold gray-color">Add</th>
                <th class="fw-semibold gray-color">Delai réajustement</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan_remboursement of planRemboursementList; let i = index"> 
                <td class="gray-color">{{ i+1 }}</td>
                <td class="gray-color">
                    <span [matBadge]="plan_remboursement.delai_reajustement" 
                        matBadgeOverlap="false" matBadgeColor="warn" 
                        [matBadgeHidden]="plan_remboursement.delai_reajustement === 0"
                        class="d-inline-block">
                        {{ plan_remboursement.date_de_rembousement | date: 'EE le dd/MM/yyyy' }}
                    </span>
                </td>
                <td class="gray-color">{{ plan_remboursement.credit_en_debut_periode | numberFormat:'fr-FR' }} usd</td>
                <td class="gray-color">{{ plan_remboursement.capital | numberFormat:'fr-FR' }} usd</td> 
                <td class="gray-color">{{ plan_remboursement.interet | numberFormat:'fr-FR' }} usd</td>
                <td class="gray-color">{{ +plan_remboursement.interet + +plan_remboursement.capital | numberFormat:'fr-FR' }} usd</td>
                <td class="gray-color" *ngIf="plan_remboursement.date_paiement">
                    {{ plan_remboursement.date_paiement | date: 'EE le dd/MM/yyyy' }}
                </td>
                <td class="gray-color" *ngIf="!plan_remboursement.date_paiement">
                    --
                </td>
                <td class="gray-color" *ngIf="plan_remboursement.montant_payer != '0'">
                    {{ plan_remboursement.montant_payer | numberFormat:'fr-FR' }} usd
                </td>
                <td class="gray-color" *ngIf="plan_remboursement.montant_payer === '0'">
                    --
                </td>
                <td *ngIf="plan_remboursement.date_paiement">
                    <app-remboursement-indice [plan_remboursement]="plan_remboursement" [id]="id"></app-remboursement-indice>
                </td>
                <td class="gray-color" *ngIf="!plan_remboursement.date_paiement">
                    --
                </td>
                <td class="gray-color" *ngIf="plan_remboursement.file_scan">
                    <!-- {{ plan_remboursement.file_scan }} -->
                    <button mat-icon-button (click)="downloadBordereau(plan_remboursement.date_paiement, plan_remboursement.file_scan)"
                        matTooltip="Télécharger le bordereau de remboursement">
                        <mat-icon>download</mat-icon>
                    </button>
                </td>
                <td class="gray-color" *ngIf="!plan_remboursement.file_scan">
                    --
                </td>
                <td class="gray-color">{{ plan_remboursement.observation }}</td>
                <td *ngIf="beneficiaire.statut === 'En cours'">
                    <button mat-icon-button color="primary" 
                            (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)" 
                                *ngIf="currentUser.permission === 'RC' ||
                                currentUser.permission === 'RCU' ||
                                currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer == 0"
                                matTooltip="Ajouter le remboursement">
                                <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" 
                            (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)"
                            *ngIf="currentUser.permission === 'RU' ||
                                currentUser.permission === 'RCU' || 
                                currentUser.permission === 'RUD' || 
                                currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer > 0"
                                matTooltip="Modifier le remboursement">
                                <mat-icon>edit</mat-icon>
                        </button>
                    <!-- <div *ngIf="isActivatedBtn(beneficiaire.delai_de_grace)">
                        <div *ngIf="isActivatedReajustementBtn(plan_remboursement.date_de_rembousement)">
                            <button mat-icon-button color="primary" 
                                (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)" 
                                    *ngIf="currentUser.permission === 'RC' ||
                                    currentUser.permission === 'RCU' ||
                                    currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer == 0"
                                    matTooltip="Ajouter le remboursement">
                                    <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" 
                                (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)"
                                *ngIf="currentUser.permission === 'RU' ||
                                    currentUser.permission === 'RCU' || 
                                    currentUser.permission === 'RUD' || 
                                    currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer > 0"
                                    matTooltip="Modifier le remboursement">
                                    <mat-icon>edit</mat-icon>
                            </button>
                        </div> 
                    </div>
                    <div *ngIf="isNotActivatedBtn(beneficiaire.delai_de_grace)">
                        <div *ngIf="isNotActivatedReajustementBtn(plan_remboursement.date_de_rembousement)">
                            <button mat-icon-button color="accent" matTooltip="En attente du delai">
                                <mat-icon>fiber_manual_record</mat-icon>
                            </button>
                        </div>
                        <div *ngIf="isActivatedReajustementBtn(plan_remboursement.date_de_rembousement)">
                            <button mat-icon-button color="primary" 
                                (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)"
                                *ngIf="currentUser.permission === 'RC' ||
                                    currentUser.permission === 'RCU' ||
                                    currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer == 0"
                                    matTooltip="Ajouter le remboursement">
                                    <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" 
                                (click)="openEditDialog('300ms', '100ms', plan_remboursement.id)" 
                                    *ngIf="currentUser.permission === 'RU' ||
                                    currentUser.permission === 'RCU' || 
                                    currentUser.permission === 'RUD' || 
                                    currentUser.permission === 'CRUD' && +plan_remboursement.montant_payer > 0"
                                    matTooltip="Modifier le remboursement">
                                    <mat-icon>edit</mat-icon>
                            </button>
                        </div> 
                    </div> -->
                </td>
                <td *ngIf="beneficiaire.statut === 'Interrompu'">
                    <button mat-icon-button color="accent" matTooltip="Remboursement Interrompu">
                            <mat-icon>info</mat-icon>
                    </button>
                </td>
                <td *ngIf="beneficiaire.statut === 'Terminé'">
                    <button mat-icon-button color="success" matTooltip="Remboursement Terminé">
                            <mat-icon>verified</mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-icon-button color="primary" *ngIf="plan_remboursement.date_paiement"
                     matTooltip="Pas de delai de réajustement">
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" *ngIf="!plan_remboursement.date_paiement"
                     (click)="openDelaiReajustementDialog('300ms', '100ms', plan_remboursement.id)"
                     matTooltip="Ajouter un delai réajustement">
                            <mat-icon>more_time</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div> 