.submitBtn {
    background-color: red !important;
    color: white !important;
}

.submitBtnDrop {
    background-color: red !important;
    color: white !important;
}

.submitBtnMenu {
    background-color: rgb(230, 52, 52) !important;
    color: white !important;
}

.submitBtnMenuSpan { 
    color: white !important;
}
