

<mat-card  class="mb-25 enrolled-created-box tagus-card"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()" >
    <mat-card-header>
        <h4 class="mb-0">Liste des bénéficiaires</h4> 
        <div> 
            <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" 
                    [matMenuTriggerFor]="iconMenu">
                    <i class="ri-menu-line"></i>
            </button>
            <mat-menu #iconMenu="matMenu" class="dotMenu monthMenu m-5 p-5" xPosition="before">
                <button mat-menu-item type="button" 
                class="bg-transparent border-none position-relative"
                (click)="openExportDialog('300ms', '100ms')">
                    <i class="ri-printer-line"></i> Exportation bénéficiaires
                </button>
                <button mat-menu-item type="button" 
                 (click)="UploadDialog('300ms', '100ms')"
                    class="bg-transparent border-none position-relative">
                    <i class="ri-upload-line"></i> Importation remboursements
                </button>
                <button mat-menu-item type="button" 
                 (click)="downloadExcel()"
                    class="bg-transparent border-none position-relative">
                    <i class="ri-arrow-down-fill"></i> Telecharger le modele
                </button>
            </mat-menu>
        </div>
    </mat-card-header>
    <mat-card-content>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab label="Beneficiaires">
                <app-beneficiare-list></app-beneficiare-list>
            </mat-tab>
            <mat-tab label="Insolvables">
                <app-notification></app-notification>
            </mat-tab>
        </mat-tab-group>
 
    </mat-card-content>
</mat-card>
