

<mat-card  class="mb-25 enrolled-created-box tagus-card"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()" >
    <mat-card-header>
        <h4 class="mb-0">Liste des bénéficiaires</h4> 
        <div class="d-flex justify-content-end mb-0">
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item class="submitBtnMenu" (click)="openExportDialog('300ms', '100ms')"> 
                    <span class="submitBtnMenuSpan">
                        <i class="ri-printer-line"></i> Exporter bénéficiaires
                    </span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="submitBtnMenu" (click)="UploadDialog('300ms', '100ms')"> 
                    <span class="submitBtnMenuSpan">
                        <i class="ri-upload-fill"></i> Importer les remboursements
                    </span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item class="submitBtnMenu" (click)="downloadExcel()"> 
                    <span class="submitBtnMenuSpan">
                        <i class="ri-download-fill"></i> Telecharger le modele
                    </span>
                </button>
            </mat-menu>
            <mat-button-toggle-group>
                <mat-button-toggle class="submitBtn">
                    <div class="d-flex justify-content-center">
                        <i class="ri-menu-line"></i>
                    </div>
                </mat-button-toggle>
                <mat-button-toggle [matMenuTriggerFor]="appMenu" class="submitBtnDrop">
                    <mat-icon>arrow_drop_down</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div> 
    </mat-card-header>
    <mat-card-content>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab label="Beneficiaires">
                <app-beneficiare-list></app-beneficiare-list>
            </mat-tab>
            <mat-tab label="Insolvables">
                <app-notification></app-notification>
            </mat-tab>
        </mat-tab-group>
 
    </mat-card-content>
</mat-card>
