<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 col-xxl-2/5">
        <mat-card class="single-stats-box box1 tagus-card mb-25">
            <div class="d-flex align-items-center">
                <!-- <div class="icon">
                    <i class="flaticon-goal"></i>
                </div> -->
                <div class="title">
                    <h3>{{ totalGarantie | numberFormat:'fr-FR' }}  usd</h3>
                    <span class="gray-color d-block">Total garantie</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-2/5">
        <mat-card class="single-stats-box box2 tagus-card mb-25">
            <div class="d-flex align-items-center">
                <!-- <div class="icon bg2">
                    <i class="flaticon-learning"></i>
                </div> -->
                <div class="title">
                    <h3>{{ totalCreditAccorde | numberFormat:'fr-FR' }} usd</h3>
                    <span class="gray-color d-block">Total crédit accordé</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-2/5">
        <mat-card class="single-stats-box box3 tagus-card mb-25">
            <div class="d-flex align-items-center">
                <!-- <div class="icon bg3">
                    <i class="flaticon-struggle"></i>
                </div> -->
                <div class="title">
                    <h3>{{totalARembourser | numberFormat:'fr-FR'}} usd</h3>
                    <span class="gray-color d-block">Total à rembourser</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-2/5">
        <mat-card class="single-stats-box box4 tagus-card mb-25">
            <div class="d-flex align-items-center">
                <!-- <div class="icon bg4">
                    <i class="flaticon-purpose"></i>
                </div> -->
                <div class="title">
                    <h3>{{ totalRembourse | numberFormat:'fr-FR' }} usd</h3>
                    <span class="gray-color d-block">Total remboursé</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-2/5">
        <mat-card class="single-stats-box box5 tagus-card mb-25">
            <div class="d-flex align-items-center">
                <!-- <div class="icon bg5">
                    <i class="flaticon-idea"></i>
                </div> -->
                <div class="title">
                    <h3>{{ resteARembourser | numberFormat:'fr-FR' }} usd</h3>
                    <span class="gray-color d-block">Reste à rembourser</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>