<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/img/logo-icon.png" alt="logo">
            <span>NDAKISA</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner" *ngIf="currentUser">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color" *ngIf="currentUser.roles.includes('Dashboard')">MAIN</span>
                    <a routerLink="/layouts/dashboard" class="sidebar-menu-link" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        *ngIf="currentUser.roles.includes('Dashboard')">
                        <i class="flaticon-menu-1"></i>
                        <span class="title">Dashboard</span>
                    </a> 

                    <span class="sub-title gray-color" *ngIf="currentUser.roles.includes('Cohortes')">PORTE FEUILLE</span>
                    <a routerLink="/layouts/cohortes/cohorte-list" class="sidebar-menu-link" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        *ngIf="currentUser.roles.includes('Cohortes')">
                        <i class="ri-wallet-line"></i>
                        <span class="title">Cohortes</span>
                    </a>

                    
                    <span class="sub-title gray-color" *ngIf="currentUser.roles.includes('Beneficiaires')">PME</span> 
                    <a routerLink="/layouts/beneficiaires/beneficiaire-list" class="sidebar-menu-link" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        *ngIf="currentUser.roles.includes('Beneficiaires')">
                        <i class="ri-group-line"></i>
                        <span class="title">Beneficiaires</span>
                    </a>

                    <span class="sub-title gray-color" *ngIf="currentUser.roles.includes('Banques')">INSTITUTIONS</span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true"
                    *ngIf="currentUser.roles.includes('Banques')">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="ri-bank-line"></i>
                                <span class="title">Banques</span>
                                <span class="badge">{{ banqueList.length }}</span> 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu"> 
                            <li class="sidemenu-item">
                                <a  (click)="openCreateDialog('300ms', '100ms')" class="sidemenu-link">
                                    Ajouter une banque
                                </a>
                            </li>
                            <li class="sidemenu-item" *ngFor="let item of banqueList">
                                <a  [routerLink]="['/layouts/banques', item.id, 'banque-list']"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    {{ item.name_banque }}
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>  
                    
                    <span class="sub-title gray-color" *ngIf="currentUser.roles.includes('users')">PERSONNEL</span>
                    <a routerLink="/layouts/users/user-list" class="sidebar-menu-link" 
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        *ngIf="currentUser.roles.includes('users')">
                        <i class="ri-user-line"></i>
                        <span class="title">Utilisateurs</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>