
<mat-card class="create-project-card tagus-card mb-25">
    <mat-card-header>
        <h4 class="mb-0" *ngIf="user">Modification {{user.prenom}} {{user.nom.toLowerCase()}}</h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Nom </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Entrer le nom</mat-label>
                        <input matInput type="text" id="nom" formControlName="nom" required>
                        <mat-error *ngIf="formGroup.controls['nom'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Postnom </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Entrer le Postnom</mat-label>
                        <input matInput type="text" formControlName="postnom" name="postnom">
                        <mat-error *ngIf="formGroup.controls['postnom'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Prenom </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Entrer le prenom</mat-label>
                        <input matInput type="text" formControlName="prenom" name="prenom">
                        <mat-error *ngIf="formGroup.controls['prenom'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Email </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Entrer l'adresse email</mat-label>
                        <input matInput type="email" formControlName="email" name="email">
                        <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Telephone </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>Entrer le Telephone</mat-label>
                        <input matInput type="tel" formControlName="telephone" name="telephone">
                        <mat-error *ngIf="formGroup.controls['telephone'].hasError('required')">
                            Ce champs est obligatoire
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Sexe </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-group-line"></i>
                        <mat-label>Select sexe</mat-label>
                        <mat-select formControlName="sexe">
                            <mat-option *ngFor="let sexe of sexeList" [value]="sexe">{{sexe}}</mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div> 
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="d-block mb-12 fw-semibold gray-color">Adresse </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-information-line"></i>
                        <mat-label>Adresse...</mat-label>
                        <textarea matInput rows="2" formControlName="adresse"></textarea> 
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="d-block mb-12 fw-semibold gray-color">Identifiant </label>
                    <mat-form-field appearance="fill">
                        <i class="ri-edit-2-line"></i>
                        <mat-label>matricule</mat-label>
                        <input matInput type="text" formControlName="matricule" name="matricule"> 
                    </mat-form-field>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Fonction</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-edit-2-line"></i>
                            <mat-label>Fonction</mat-label>
                            <input matInput type="text" formControlName="title" name="title"> 
                        </mat-form-field>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Statut utilisateur</label>
                        <mat-checkbox class="example-margin" id="statut_user" formControlName="statut_user">
                            Statut 
                        </mat-checkbox> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Acreditation</label>
                        <mat-form-field appearance="fill">
                            <mat-label>Select acreditation</mat-label>
                            <i class="ri-list-check"></i>
                            <mat-select formControlName="roles" multiple>
                                <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div> 
                </div> 
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Permission <span>*</span></label>
                        <mat-form-field appearance="fill">
                            <i class="ri-edit-2-line"></i>
                            <mat-label>Permission</mat-label>
                            <mat-select formControlName="permission">
                                <mat-option *ngFor="let permission of permissionList" [value]="permission">
                                    {{permission}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="currentUser">
                    <button mat-button type="submit" class="default-btn mt-25"
                    *ngIf="currentUser.permission === 'RU' ||
                            currentUser.permission === 'RCU' || 
                            currentUser.permission === 'RUD' || 
                            currentUser.permission === 'CRUD'">
                    Soumettre
                </button>
                </div>
            </div> 
        </form>
    </mat-card-content>
</mat-card>