<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()" >
    <mat-card-content> 
        <div class="course-details-desc">
            <div class="row align-items-center">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-md-flex justify-content-space-between align-items-center">
                                    <div>
                                        <h6  class="mb-0" *ngIf="banque">{{ banque.name_banque }} </h6>
                                        <h4 class="mb-0">Liste des beneficiaires par banque</h4> 
                                    </div> 
                                    <div> 
                                        <button mat-icon-button color="warn" 
                                                (click)="delete(banque.id)"
                                            *ngIf="currentUser.permission === 'RD' ||
                                                currentUser.permission === 'RUD' ||
                                                currentUser.permission === 'CRUD'" matTooltip="Mettre dans le corbeil">
                                                <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent"  
                                        (click)="openEditDialog('300ms', '100ms', banque.id)"
                                            *ngIf="currentUser.permission === 'RU' ||
                                                currentUser.permission === 'RCU' || 
                                                currentUser.permission === 'RUD' || 
                                                currentUser.permission === 'CRUD'" matTooltip="Modifier ce document">
                                                <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                               
                            </mat-panel-title> 
                        </mat-expansion-panel-header>
                        <div class="d-md-flex meta mb-25 pb-25 justify-content-space-between align-items-center">
                            <ul class="list mb-0 d-md-flex mt-0 ps-0">
                                <li class="gray-color fw-semibold">
                                    Total banques
                                    <span class="d-block fw-semibold position-relative"> 
                                       15 223 155 usd
                                    </span>
                                </li>
                                <li class="gray-color fw-semibold">
                                    Total garantie
                                    <span class="d-block fw-semibold position-relative"> 
                                        15 223 155 usd
                                    </span>
                                </li>
                                <li class="gray-color fw-semibold">
                                    Credit accordé
                                    <span class="d-block fw-semibold position-relative"> 
                                        15 223 155 usd
                                    </span>
                                </li>
                                <li class="gray-color fw-semibold">
                                    Interet
                                    <span class="d-block fw-semibold position-relative"> 
                                        15 223 155 usd
                                    </span>
                                </li>
                            </ul> 
                        </div> 
                    </mat-expansion-panel> 
                </mat-accordion>
            </div>  
        </div>
        <div class="d-md-flex meta mb-0 pb-0 justify-content-space-between align-items-center">
            <p>Créé le {{ banque.created | date: 'dd/MM/yyyy' }} </p>
                <p>Mise à jour le {{ banque.update_created | date: 'dd/MM/yyyy HH:mm' }} </p>
        </div>
        <app-beneficiare-input [ELEMENT_DATA]="ELEMENT_DATA"></app-beneficiare-input>
    </mat-card-content>
</mat-card>