<div class="create-dialog-box">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Modification de la banque</h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="row"> 
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Nom de la banque</label>
                    <input type="text" class="input-control" placeholder="name_banque" formControlName="name_banque"> 
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="tagus-form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Statut de la banque</label>
                    <mat-checkbox class="example-margin" id="statut" formControlName="statut">
                        Statut 
                    </mat-checkbox> 
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="gray" (click)="close()">
                <i class="ri-close-fill"></i> 
                Annuler
            </button>
            <button type="submit">
                <span *ngIf="isLoading">
                    <mat-progress-spinner [diameter]="30"
                        color="primary" 
                        mode="indeterminate">
                    </mat-progress-spinner>
                </span>
                <span *ngIf="!isLoading">
                    <i class="ri-add-fill"></i> 
                    Soumettre
                </span> 
            </button>
        </div>
    </form>
</div>