
<div class="row">
    <div class="col-xxl-4"> 
        <div
        class="welcome-box border-radius bg-white box-shadow mb-25"
        [class.component-dark-theme]="themeService.isDark()"
        [class.card-borderd-theme]="themeService.isCardBorder()"
        [class.card-border-radius]="themeService.isCardBorderRadius()" 
    >
        <div class="top border-radius position-relative"> 
            <h6 class="text-white">Plage de date</h6>
            <div class="d-flex align-items-center justify-content-center">
                <form [formGroup]="dateRange" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start Date">
                        <input matEndDate formControlName="end" placeholder="End Date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </form> 
            </div> 
        </div>
    </div>
    </div>
    <div class="col-xxl-8">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="single-stats-box tagus-card mb-25">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            <!-- <i class="flaticon-donut-chart"></i> -->
                            <mat-icon class="icon-mat">groups</mat-icon>
                        </div>
                        <div class="title">
                            <span class="d-block gray-color">Beneficiaires</span>
                            <h3>{{totalBeneficiaire}}</h3>
                        </div>
                    </div>
                    <p class="position-relative up">Nombre de Beneficiaires</p>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="single-stats-box tagus-card mb-25">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            <!-- <i class="flaticon-goal"></i> -->
                            <mat-icon class="icon-mat">account_balance_wallet</mat-icon>
                        </div>
                        <div class="title">
                            <span class="d-block gray-color">Cohortes</span>
                            <h3>{{totalCohorte}}</h3>
                        </div>
                    </div>
                    <p class="position-relative up">Nombre de Cohortes</p>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="single-stats-box tagus-card mb-25">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            <!-- <i class="flaticon-award"></i> -->
                            <mat-icon class="icon-mat">account_balance</mat-icon>
                        </div>
                        <div class="title">
                            <span class="d-block gray-color">Banques</span>
                            <h3>{{totalBanque}}</h3>
                        </div>
                    </div>
                    <p class="position-relative up">Nombre de banques</p>
                </mat-card>
            </div>
        </div>
        
    </div>
</div>


<app-stats-nombre 
    [totalGarantie]="totalGarantie"
    [totalCreditAccorde]="totalCreditAccorde"
    [totalARembourser]="totalARembourser"
    [totalRembourse]="totalRembourse"
    [resteARembourser]="resteARembourser"
    [isLoading]="isLoading">
</app-stats-nombre> 

<div class="row">
    <div class="col-xxl-8">

        <app-stats-progress 
            [progressionRemboursementHommeList]="progressionRemboursementHommeList"
            [progressionRemboursementFemmeList]="progressionRemboursementFemmeList" 
            [progressionRemboursementDateList]="progressionRemboursementDateList"
            [isLoading]="isLoading">
        </app-stats-progress> 

        <div class="row justify-content-center">
            <div class="col-md-6 col-xxl-6"> 
                <app-stats-banque [banqueList]="banqueList" [isLoading]="isLoading"></app-stats-banque>
            </div>
            <div class="col-md-6 col-xxl-6">
                <app-stats-beneficiaire-statut [statutBeneficiaireList]="statutBeneficiaireList" [isLoading]="isLoading"></app-stats-beneficiaire-statut>
            </div>
        </div>

        <app-tranche-age [trancheAgeList]="trancheAgeList" [isLoading]="isLoading"></app-tranche-age>

        <app-stats-garantie-remboursement [remboursementList]="remboursementList" [isLoading]="isLoading"></app-stats-garantie-remboursement>

        <app-stats-cohorte-remboursement [cohorteList]="cohorteList" [isLoading]="isLoading"></app-stats-cohorte-remboursement>

        <div class="row">
            <div class="col-xxl-8">
               
            </div>
            <div class="col-xxl-4"> 

            </div>
        </div>
         
        

    </div>
    <div class="col-xxl-4">

        <app-stats-sexe [sexeList]="sexeList" [isLoading]="isLoading"></app-stats-sexe>
        
        <app-stats-chorte-statut 
            [totalOuverte]="totalOuverte" 
            [totalFermee]="totalFermee" 
            [isLoading]="isLoading">
        </app-stats-chorte-statut>

        <app-stats-secteur-activite [secteurActiviteList]="secteurActiviteList" [isLoading]="isLoading"></app-stats-secteur-activite>

        <app-stats-beneficiaire-province [tauxParticipatiionProvinceList]="tauxParticipatiionProvinceList"></app-stats-beneficiaire-province>

    </div>
</div>